.patientContainer {
  margin: 0% 2% 2% 2%;
  font-size: 1.2em;
}

.patientHeader {
  display: flex;
  flex-direction: column;
}

.patientHeaderRow {
  display: flex;
  justify-content: space-between;
  max-width: 280px;
}

.imagesContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}

.imageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageLabel {
  font-size: 0.8em;
}

.logoImage {
  width: 120px;
  margin-top: 1%;
  margin-left: 2%;
}

.dicomImage {
  width: 512px;
  height: 512px;
}

.dicomImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dicomImageLabel {
  font-size: 0.8em;
}
